<!-- views/empleados/index.ejs -->
<% layout('layouts/layout') %>

<h1>Lista de Empleados</h1>
<a href="/empleados/nuevo">Agregar nuevo empleado</a>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
      <th>Sueldo Pagado</th>
    </tr>
  </thead>
  <tbody>
    <% empleados.forEach(empleado => { %>
      <tr>
        <td><%= empleado.nombre %> <%= empleado.apellido %></td>
        <td><%= empleado.departamento %></td>
        <td><%= empleado.sueldo_pagado ? 'Sí' : 'No' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
